[Unit]
Description=BRAVO API

[Service]
Type=simple

User=ubuntu
Group=ubuntu

WorkingDirectory={{inst_dir}}/api

Environment="FLASK_APP=bravo_api"
Environment="BRAVO_API_CONFIG_FILE=config.py"
Environment="BRAVO_API_INSTANCE_DIR={{inst_dir}}/api"

RuntimeDirectory=bravo-api
PIDFile=/run/bravo-api/bravo.pid

ExecStart={{inst_dir}}/api/venv/bin/gunicorn -b 0.0.0.0:8080 --pid /run/bravo-api/bravo.pid -w 3 -k gevent "bravo_api:create_app()"
ExecStop = /bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=5
KillMode=mixed

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bravo-api

[Install]
WantedBy=multi-user.target
