PROXY = True
SECRET_KEY = b'{{lookup("password", "/tmp/secret_key chars=hexdigits length=32")}}'
URL_PREFIX = ''
MONGO_URI = 'mongodb://localhost:27017/bravo-demo'
BRAVO_API_URI = 'http://localhost:9000'
GZIP_COMPRESSION = True
GOOGLE_OAUTH_CLIENT_SECRET = '' # path to JSON file with Google OAuth2 client secret

SUBTITLE = ''
DATASET_SHORT_NAME = ''
ARCHIVES = []

DOWNLOADS = False
DOWNLOAD_LABEL = 'Downloads'
DOWNLOAD_CHROMOSOMES_VCF = {}
DOWNLOAD_CHROMOSOMES_COVERAGE = {}

GOOGLE_ANALYTICS_TRACKING_ID = ''
