import os.path

MONGO_URI = 'mongodb://{{mongo_ip}}:27017/bravo'  # mongodb://<host>:<port>/<database>
BRAVO_API_PAGE_LIMIT = 10000
GZIP_COMPRESSION = True

# base directory for data on disk
# /var/local/bravo/data
BASE_DIR = "{{base_dir}}/data"

# directory with coverage files
COVERAGE_DIR = "{{base_dir}}/data/runtime/coverage/"

# directory containing variant map and sequences/ dir
#  Contained sequences dir expected to have with CRAM files
SEQUENCES_DIR = "{{base_dir}}/data/runtime/crams/"

# directory for the runtime cached BAM/CRAM files
SEQUENCES_CACHE_DIR = "{{base_dir}}/data/runtime/cache/"

# path to reference sequence for cram files.  Assumes corresponding .fai exists next to .fa file
REFERENCE_SEQUENCE = "{{base_dir}}/data/runtime/reference/hs38DH.fa"


# Optional configuration
{% if gauth_client_secret is defined and gauth_client_secret|length %}
LOGIN_DISABLED = False
{% else %}
LOGIN_DISABLED = True
{% endif %}
SESSION_SECRET = b'{{lookup('community.general.random_string',length=24,special=false)}}'
CORS_ORIGINS = {{cors_origins}}

# Config for using Google OAuth
GOOGLE_CLIENT_ID = "{{gauth_client_id | default('')}}"
GOOGLE_CLIENT_SECRET = "{{gauth_client_secret | default('')}}"
GOOGLE_DISCOVERY_URL = "https://accounts.google.com/.well-known/openid-configuration"
